h2 {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: palegoldenrod;
    background-color: cadetblue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover {
    background-color: rgb(50, 90, 92);
}